<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facespace</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
      <a class='titlelink' href='/'><h1 class='site-title'>Facespace</h1></a>
      <a class='signin-button' href='/signin'><%= currentUser.name ? `Howdy, ${currentUser.name}` : 'Sign In' %></a>
  </header>